@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif; }

a, button, input {
  outline: 0;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none; }
  a:hover, button:hover, input:hover {
    text-decoration: none;
    outline: 0; }

#block-1 {
  background: url("../img/block-1.jpg") no-repeat center/cover; }

#block-2 {
  background: url("../img/block-2.jpg") no-repeat center/cover; }

#block-3 {
  background: url("../img/block-3.jpg") no-repeat center/cover; }

#block-4 {
  background: url("../img/block-4.jpg") no-repeat center/cover; }

#block-5 {
  background: url("../img/block-5.jpg") no-repeat center/cover; }

#block-6 {
  background: url("../img/block-6.jpg") no-repeat center/cover; }

.height-block {
  position: relative;
  padding-top: 121px; }

#block-1 {
  padding: 0; }

#main-logo {
  width: 50%;
  height: auto;
  position: relative;
  top: 50%; }

.to-next-slide {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  color: white;
  text-align: center;
  line-height: 45px;
  font-size: 35px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .to-next-slide:hover {
    border: 1px solid #ff7c21;
    color: #ff7c21; }

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 20px 0; }

.menu-logo {
  width: 50%; }
  .menu-logo img {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    cursor: pointer; }

.logo-tel a {
  color: #0ea4f4; }

nav {
  height: 100%;
  display: none; }
  nav ul {
    height: 100%; }
    nav ul li {
      position: relative;
      margin: 0 8px; }
      nav ul li a {
        color: #0ea4f4;
        text-transform: uppercase;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        font-weight: bold; }
        nav ul li a:hover {
          color: #ff7c21; }
      nav ul li ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        min-width: 300px;
        display: none; }
        nav ul li ul li {
          margin: 0;
          padding: 10px 0; }
  nav .has-sub-menu:after {
    content: '\f107 ';
    font-family: FontAwesome;
    color: #0ea4f4;
    font-size: 20px;
    margin-left: 5px;
    line-height: 0;
    position: relative;
    top: 2px; }
  nav .has-sub-menu:hover ul {
    display: block; }
  nav .has-sub-menu:hover > a {
    color: #ff7c21; }
  nav .has-sub-menu:hover:after {
    color: #ff7c21; }

#lang li {
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #lang li:after {
    content: '|';
    color: white;
    font-size: 14px;
    margin: 0 3px;
    font-weight: 300; }
  #lang li:last-child:after {
    display: none; }
  #lang li a {
    color: white; }
    #lang li a.active {
      color: #ff7c21; }

.m-top-100 {
  margin-top: 100px; }

.tab {
  width: 100%;
  max-width: 300px;
  background: #838383;
  margin-bottom: 20px;
  padding: 20px 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .tab:hover {
    background: #ff7c21; }
  .tab.active {
    background: #ff7c21; }
  .tab__circle {
    display: block;
    background: white;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #b0b0b0; }
  .tab--pad {
    padding: 10px 10px; }
  .tab--pad-2 {
    padding: 20px 10px; }

.content-tab {
  display: none; }

.content-tab {
  overflow-x: auto; }

.vendors .mCSB_dragger .mCSB_dragger_bar {
  background-color: orange !important; }

.mCSB_dragger .mCSB_dragger_bar {
  background-color: white !important;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5) !important;
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5) !important;
  width: 50px; }

.mCSB_dragger {
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #ffd6ba !important; }

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #ffd6ba !important; }

.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail {
  background: #ff7c21; }

.mCSB_scrollTools {
  margin-right: 10px; }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 30px;
  margin: 0 -7px; }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger, .mCS-rounded.mCSB_scrollTools .mCSB_dragger {
  height: 30px; }

.content-tab-title {
  font-size: 35px;
  margin-bottom: 20px; }

.content-tab-text {
  line-height: 30px; }

.vacancy {
  margin-bottom: 30px; }
  .vacancy__title {
    font-size: 18px;
    margin-bottom: 10px; }
  .vacancy__info {
    font-size: 14px;
    color: #909090;
    margin: 0; }
  .vacancy__date {
    font-size: 14px;
    color: #ff7c21;
    margin-top: 10px; }

.contacts {
  margin: 0 0 30px; }
  .contacts__link {
    display: block; }
    .contacts__link--mTop {
      margin-top: 20px; }
  .contacts__title {
    font-size: 18px; }
  .contacts__info {
    font-size: 14px;
    color: #666666;
    margin: 0; }

.bottom-vendors {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 20px 0; }

.vendors {
  overflow-y: hidden;
  overflow-x: auto; }
  .vendors .mCSB_dragger .mCSB_dragger_bar {
    background-color: orange !important; }
  .vendors__li {
    margin-right: 50px; }
  .vendors__img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .vendors__link:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }

.partner {
  margin-bottom: 50px; }
  .partner__title {
    color: #ff7c21;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 30px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold; }
  .partner__subtitle {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 35px; }
  .partner__info {
    color: #cdcdcd;
    margin-top: 20px; }

.training__img {
  display: block;
  margin: auto; }

.training__title {
  color: white;
  font-size: 18px;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase; }

.training__info {
  color: #cdcdcd;
  line-height: 25px; }

.partnerForm .form-group {
  margin: 20px 0; }

.partnerForm__title {
  font-size: 25px;
  color: white; }

.partnerForm__input {
  display: block;
  width: 100%;
  max-width: 450px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  border: 1px solid white;
  background: white;
  height: 50px; }

.partnerForm textarea {
  height: 200px; }

.partnerForm__button {
  cursor: pointer;
  background: #ff7c21;
  color: white;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-transform: uppercase; }
  .partnerForm__button:hover {
    background: #ba4c00; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  nav {
    display: block; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1600px) {
  body {
    font-size: 16px; }
  nav ul li {
    position: relative;
    margin: 0 20px; } }
