@import "vars"
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
body
  font-size: 14px
  padding: 0
  margin: 0
  font-family: "Open Sans", sans-serif


a,button,input
  outline: 0
  text-decoration: none
  -webkit-appearance: none
  box-shadow: none
  &:hover
    text-decoration: none
    outline: 0


#block-1
  background: url("../img/block-1.jpg") no-repeat center / cover
#block-2
  background: url("../img/block-2.jpg") no-repeat center / cover
#block-3
  background: url("../img/block-3.jpg") no-repeat center / cover
#block-4
  background: url("../img/block-4.jpg") no-repeat center / cover
#block-5
  background: url("../img/block-5.jpg") no-repeat center / cover
#block-6
  background: url("../img/block-6.jpg") no-repeat center / cover
#block-7
  background: url("../img/block-7.jpg") no-repeat center / cover
.height-block
  position: relative
  padding-top: 121px

#block-1
  padding: 0

#main-logo
  width: 50%
  height: auto
  position: absolute
  left: 50%
  margin-left: -25%
  top: 50%

.to-next-slide
  position: absolute
  bottom: 20px
  left: 50%
  width: 50px
  height: 50px
  border: 1px solid white
  color: white
  text-align: center
  line-height: 45px
  font-size: 35px
  border-radius: 50%
  cursor: pointer
  transition: .2s
  &:hover
    border: 1px solid $orange
    color: $orange
header
  position: fixed
  z-index: 10
  width: 100%
  padding: 20px 0
  background: rgba(black,.4)
.menu-logo
  width: 50%
  img
    display: block
    margin: auto
    width: 80%
    height: auto
    cursor: pointer
    max-height: 100px
.logo-tel
  a
    color: $blue
nav
  height: 100%
  display: none
  ul
    height: 100%
    li
      position: relative
      margin: 0 8px
      a
        color: $blue
        text-transform: uppercase
        transition: .2s
        font-weight: bold
        &:hover
          color: $orange !important
      ul
        position: absolute
        top: 100%
        left: 0
        width: 100%
        min-width: 300px
        display: none
        li
          margin: 0
          padding: 10px 0 10px 10px
          background: rgba(black,.4)
          border-bottom: 1px solid rgba(white,.2)
  .has-sub-menu
    ul
      padding-top: 20px
    &:after
      content: '\f107 '
      font-family: FontAwesome
      color: $blue
      font-size: 20px
      margin-left: 5px
      line-height: 0
      position: relative
      top: 2px
    &:hover
      ul
        display: block
      &>a
        color: $orange !important
      &:after
        color: $orange !important
#lang
  li
    color: white
    display: flex
    align-items: center
    &:after
      content: '|'
      color: white
      font-size: 14px
      margin: 0 3px
      font-weight: 300
    &:last-child
      &:after
        display: none
    a
      color: white
      &.active
        color: $orange
.m-top-100
  margin-top: 100px
.tab
  width: 100%
  max-width: 300px
  background: #838383
  margin-bottom: 20px
  padding: 20px 44px
  box-sizing: border-box
  color: white
  text-transform: uppercase
  cursor: pointer
  transition: .2s
  &:hover
    background: $orange
  &.active
    background: $orange
  &__circle
    display: block
    background: white
    width: 50px
    height: 50px
    border-radius: 50%
    margin-right: 10px
    text-align: center
    line-height: 50px
    font-size: 25px
    color: #b0b0b0
  &--pad
    padding: 10px 10px
  &--pad-2
    padding: 20px 10px
.content-tab
  display: none
.content-tab
  //overflow-x: auto



.vendors
  .mCSB_dragger .mCSB_dragger_bar
    background-color: orange !important
.mCSB_dragger .mCSB_dragger_bar
  background-color: white !important
  box-shadow: inset 0 0 5px rgba(black,.5) !important
  width: 50px

.mCSB_dragger
  border-radius: 50%
.mCSB_scrollTools
  .mCSB_dragger:hover
    .mCSB_dragger_bar
      background-color: lighten($orange,30) !important



.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar
  background-color: lighten($orange,30) !important

.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail
  background: $orange

.mCSB_scrollTools
  margin-right: 10px


.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  width: 30px
  margin: 0 -7px

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger, .mCS-rounded.mCSB_scrollTools .mCSB_dragger
  height: 30px



.content-tab-title
  font-size: 35px
  margin-bottom: 20px
.content-tab-text
  line-height: 30px

.vacancy
  margin-bottom: 30px
  &__title
    font-size: 18px
    margin-bottom: 10px
  &__info
    font-size: 14px
    color: #909090
    margin: 0
  &__date
    font-size: 14px
    color: $orange
    margin-top: 10px

.contacts
  margin: 0 0 30px
  &__link
    display: block
    &--mTop
      margin-top: 20px
  &__title
    font-size: 18px
  &__info
    font-size: 14px
    color: lighten(black,40)
    margin: 0


.bottom-vendors
  position: absolute
  bottom: 0
  width: 100%
  background: white
  padding: 20px 0

.vendors
  overflow-y: hidden
  overflow-x: auto
  .mCSB_dragger .mCSB_dragger_bar
    background-color: orange !important

  &__li
    margin-right: 50px
  &__img
    filter: grayscale(100%)
    transition: .5s
  &__link
    &:hover
      img
        filter: grayscale(0)


.partner
  margin-bottom: 50px
  &__title
    color: $orange
    text-transform: uppercase
    font-size: 35px
    line-height: 45px
    margin-bottom: 30px
    text-shadow: 0 2px 3px rgba(black,.5)
    font-weight: bold
  &__subtitle
    color: white
    text-transform: uppercase
    font-size: 22px
    line-height: 35px
  &__info
    color: #cdcdcd
    margin-top: 20px

.training
  &__img
    display: block
    margin: auto
  &__title
    color: white
    font-size: 18px
    margin: 20px 0
    text-align: center
    text-transform: uppercase
  &__info
    color: #cdcdcd
    line-height: 25px

.partnerForm
  .form-group
    margin: 20px 0
  &__title
    font-size: 25px
    color: white
  &__input
    display: block
    width: 100%
    max-width: 450px
    box-sizing: border-box
    padding: 20px
    border: 1px solid white
    background: white
    height: 50px
  textarea
    height: 200px
  &__button
    cursor: pointer
    background: $orange
    color: white
    transition: .3s
    text-transform: uppercase
    &:hover
      background: darken($orange,20)

.news
  &__title
    color: white
    text-transform: uppercase
    font-size: 51px
    text-align: center
  &__subTitle
    color: white
    font-size: 14px
    line-height: 28px
    max-width: 745px
    margin: 20px auto
    text-align: center
  &__tab
    background: none
    font-size: 15px
    width: auto
    padding: 5px 15px
    color: white
    &:hover
      background: #f9f7f6
      color: black
    &.active
      background: #dfdddc
      color: black
      &:hover
        background: #dfdddc
  &__wrapper
    //max-height: 400px
    margin-top: 30px
  &__item
    display: block
    color: white
    padding: 5px 20px
    transition: .2s
    font-size: 14px
    margin: 20px 0
    &:first-child
      margin-top: 0
    &:hover
      background: $orange
      color: white
      .news__date
        color: white
  &__date
    color: $orange
#tabs_news_wrapper
  margin-bottom: 40px
.fullStory
  //max-height: 400px
  &__title
    color: white
    font-size: 30px
    font-weight: normal
    margin: 20px 0
  &__img
    margin: 10px auto
    display: block
  &__text
    color: white
    line-height: 25px
.section__title
  color: white
  text-align: center
  text-transform: uppercase
  font-size: 50px
.slider
  margin-top: 40px
  .owl-prev,
  .owl-next
    position: absolute
    top: 45%
    color: white
    opacity: .5
    font-size: 40px
    &:hover
     opacity: 1
  .owl-prev
    left: -40px
  .owl-next
    right: -40px

.sliderContent
  width: 300px
  height: 270px
  margin: 20px auto
  &__img
    width: 100%
    height: 182px
    overflow: hidden
    img
      width: 100%
      height: auto
  &__title
    margin-top: 10px
    color: white
    text-transform: uppercase
    font-size: 20px
    line-height: 28px

#mobile-menu
  text-align: right
  color: white
  font-size: 25px
#btn_menu
  background: none
  border: 0
  color: white
  outline: 0
@import "media"
